<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
</head>
<body>

    <div id="app">

        <div class="container w-50 py-4">

            <div class="card">

                <div class="card-body">

                    <h3 class="card-title text-center">To Do List</h3>
                    
                    <div class="input-group my-4">
                        
                        <input type="text" class="form-control" v-model="newTaskText" @keydown.enter="addTask()">
                        
                        <button type="submit" class="btn btn-primary" @click.stop="addTask()">
                            Aggiungi task
                        </button>

                    </div>

                    <ul class="list-group list-group-flush">
                    
                        <li class="list-group-item d-flex justify-content-between" v-for="(task,i) in tasks">
                    
                            <span :class="{'text-decoration-line-through': task.done}" @click="task.done=!task.done">
                                {{task.text}}
                            </span>
                    
                            <i class="fa-solid fa-xmark" @click="removeTask(i)"></i>
                    
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>



    <script src="https://unpkg.com/vue@3"></script>

    <script src="./script.js"></script>
    
</body>
</html>